@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Trash Collection</h1>
    <img src="https://www.recycleaway.com/assets/images/beautybanners/ra_Fun_bbanner.jpg" />
</div>
