@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Trash Collection</h1>
    <img src="https://www.recycleaway.com/assets/images/beautybanners/ra_Fun_bbanner.jpg" /></div>
    <style>
        #map{
            width: 400px; 
            height: 400px; 
        }
        
    </style>
    <br />
<div class= "row">
    <div id= "map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 6
            });
        }
    </script>
    <script src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_TJBzCxtSwL-mhaPUqiDZot2DCTwHMg&callback=initMap"
            async defer></script>
</div>